.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-primary);
  &--logo {
    width: 30%;
    display: flex;
    justify-content: end;
    img {
      width: 70px;
      height: auto;
    }
  }
  &--title {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    &-text {
      color: var(--white);
      font-size: 34px;
      font-family: var(--font-roboto);
      font-weight: 600;
      margin-left: 6px;
    }
  }
}

@media only screen and (max-width: 900px) {
  .header__container {
    &--logo {
      img {
        width: 40px;
        height: auto;
      }
    }
  }
  
}