
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  /* fonts */
  --font-roboto: "Roboto", sans-serif;
  /* colors */
  --blue-primary: #1474D2;
  --blue-secondary: #3399FF;
  --blue-tertiary: #074685;
  --red-primary: #FD4C5C;
  --red-secondary: #FEC9CF;
  --red-tertiary: #FCAEB5;
  --white:#FFF
}
